<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@600;700&family=Changa&family=Great+Vibes&family=Roboto:ital,wght@1,700&display=swap"
          rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>

</head>
<body>

<div class="container-fluid" style="padding:0">
    <HEADER style="background-color:#778B79; width:100%">
        <center>
            <img src="{% static 'images/logo.jpg' %}" style="height:150px">
        </center>
        <nav class="navbar navbar-expand-lg  navbar-light bg-light" style="width:100%">
            <div class="container-fluid" style="width:100%">
                <a class="navbar-brand" href="#">MyShop</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'shop:allprodcat' %}">Home</a>
                        </li>




                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                SHOP
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">All Categories</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                {% for i in links %}
                                <li><a class="dropdown-item" href="{% url 'shop:allproducts' i.slug %}">{{i.name}}</a>
                                </li>
                                {% endfor %}
                            </ul>

                       {% if user.is_authenticated %}
                        {% if user.username != 'admin' %}


                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'cart:cartview' %}"><i
                                    class="fa-solid fa-cart-shopping fa-lg"></i>{{count}}</a>
                        </li>


                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'cart:orderview' %}">Your orders</a>
                        </li>
                        {% endif %}

                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'shop:logout' %}">LogOut</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'shop:signup' %}">SignUp</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'shop:login' %}">LogIn</a>
                        </li>
                        {% endif %}



                    </ul>

                    <form method="POST" class="d-flex" action="{% url 'search:searchresults' %}">
                        {% csrf_token %}
                        <input class="form-control me-2" type="search" name="q" placeholder="Search"
                               aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
    </HEADER>
</div>
{% block content %}
{% endblock %}

<footer class="footer">
    <div>
        <P><i class="fa-solid fa-copyright icon_size"> MyShop pvt ltd.ALL RIGHTS RESERVED</i></P>

    </div>
</footer>

</body>
</html>