{% extends 'base.html' %}
{% load static %}
{% block title %} {% endblock %}
{% block content %}
{% if not cart %}
<div>
    <h1 class="text-center">Cart is empty</h1>
    <a href="{% url 'shop:allprodcat' %}">Continue shopping</a>
</div>

{% else %}
<div class="row" style="margin-bottom:100px">
    <h2 CLASS="text-center">SHOPPING CART</h2>
    <div class="col-sm-8">
        <table class="table table-bordered">
            <tr>
                <th colspan="5" CLASS="text-center">CART ITEM</th>
            </tr>
            {% for i in cart %}
            <tr>
                <td><img src="{{i.product.image.url}}" height="100px" width="100px"></td>
                <td><P><strong>{{i.product.name}}</strong></P></td>
                <td><p><strong>Product Id:{{i.product.id}}</strong></p>
                    <p><strong>Unit price:{{i.product.price}}</strong></p>
                    <p><strong>Quantity:{{i.quantity}}*{{i.product.price}}</strong></p>
                    <p>Subtotal:{{i.subtotal}}</p>
                <td>
                    {% if i.quantity < i.product.stock %}
                    <a href="{% url 'cart:add_to_cart' i.product.id %}"><i class="fa-solid fa-circle-plus "
                                                                           style="color:black"></i></a>
                    <a href="{% url 'cart:cart_remove' i.product.id %}"><i class="fa-solid fa-circle-minus"
                                                                           style="color:black"></i></a>
                    <a href="{% url 'cart:full_remove' i.product.id %}"><i class="fa-solid fa-trash-can"
                                                                           style="color:black"></i></a>
                    {% else %}
                    <a href="{% url 'cart:add_to_cart' i.product.id %}"><i class="fa-solid fa-circle-minus "
                                                                           style="color:black"></i></a>
                    <a href="{% url 'cart:full_remove' i.product.id %}"><i class="fa-solid fa-trash-can "
                                                                           style="color:black"></i></a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-sm-3">
        <table class="table table-bordered">
            <tr>
                <th class="colspan=5">CHECK OUT</th>
            </tr>
            <tr class="text-center">
                <td>TOTAL AMOUNT: {{total}}</td>
            </tr>
        </table>

            <a href="{% url 'cart:orderform' %}" class="btn btn-primary">Place order</a>
            <a href="{% url 'shop:allprodcat' %}"  class="btn btn-success ms-5">Continue
                shopping</a>
    </div>
</div>
{% endif %}
{% endblock %}