{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container" >
    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label class="form-label">Address</label>
            <input type="text" class="form-control" name="a" placeholder="enter address">

            <div class="mb-3">
                <label class="form-label">Phone</label>
                <input type="text" class="form-control" name="p" placeholder="enter phone">
            </div>
            <div class="mb-3">
                <label class="form-label">Accountno</label>
                <input type="text" class="form-control" name="n" placeholder="enter account no">
            </div>
           <input type="submit" class="btn btn-primary form-control">
    </form>

</div>

{% endblock %}